APP_UID=1000
APP_GID=1000

# vms-engine runtime commands
VMS_ENGINE_BIN=./build/bin/vms_engine
VMS_ENGINE_CONFIG=dev/configs/deepstream_default.yml

# id           # in ra uid, gid, và các group
# id -u        # chỉ UID
# id -g        # chỉ GID
# id -G        # tất cả GID bạn thuộc về
# groups       # liệt kê tên các nhóm bạn đang ở
