APP_UID=1000
APP_GID=1000

# id           # in ra uid, gid, và các group
# id -u        # chỉ UID
# id -g        # chỉ GID
# id -G        # tất cả GID bạn thuộc về
# groups       # liệt kê tên các nhóm bạn đang ở
